<div id="about-us">
    <div class="container container-padding">
        <div class="flex">
            <div class="column-center">
                <img src="images/block-about.svg">
            </div>
            <div class="column-center">
                <div id="about-text" class="position-relative">
                    <span>About Us </span>
                    <img src="/images/line.svg" class="position-absolut">
                    <h1>You can't use up creativity.</h1>
                    <p>Does any industry face a more complex audience journey and marketing sales process than B2B technology? Consider the number of people who influence a sale, the length of the decision-making cycle, the competing interests of the people who purchase, implement, manage, and use the technology. It’s a lot meaningful content here.</p>
                    <div class="flex position-relative">
                        <img src="/images/bg.svg" class="position-absolut">
                        <h2>15</h2>
                        <h3>Years Of <br>Experience</h3>
                    </div>
                    <button class="btn btn-main">Learn More</button>
                    <button class="btn btn-main">video Intro Video</button>
                </div>
            </div>
        </div>
    </div>
</div>