<div id="Contact">
    <div class="container container-padding">
        <div class="row ">
            <div class=" contactUsForm col">
                <div class="container ">
                    <div id="contact-text" class="position-relative">
                        <span>Get In Touch</span>
                        <img src="/images/line.svg" class="position-absolut">
                        <h1>
                            Estimate for your
                            projects.
                        </h1>
                    </div>


                    <form class="needs-validation" onsubmit="onSubmit()" novalidate>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control validation input-border button-off" placeholder="Enter your name" required>
                                <div class="invalid-feedback">
                                    Du måste ange minst 2 bokstäver
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="email" class="form-control validation input-border button-off" placeholder="Enter your email" required>
                                <div class="invalid-feedback">
                                    Du måste ange gilltig epost-adress
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <textarea type="textarea" class="form-control validation input-border button-off" rows="6" placeholder="Enter your questions & subject here." required></textarea>
                                <div class="invalid-feedback">
                                    Du måste ange minst 2 bokstäver
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col btn-form">
                                <button type="submit" class="btn btn-primary submit">Submit Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="contact-img col ">
                <img src="/images/block.svg">
            </div>
        </div>
    </div>
</div>