<div class="container container-padding">
    <div id="form" class="">
        <div class="container ">
            <div class="text-center">
                <h1>Book a Meeting</h1>
                <p>
                    Does any industry face a more complex audience journey and
                    <br>
                    marketing sales process than B2B technology.
                </p>
            </div>
            <form class="needs-validation" onsubmit="onSubmit()" novalidate>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control validation input-border button-off" placeholder="Enter your name" required>
                        <div class="invalid-feedback">
                            Du måste ange minst 2 bokstäver
                        </div>
                    </div>

                    <div class="col">
                        <input type="email" class="form-control validation input-border button-off" placeholder="Enter your email" required>
                        <div class="invalid-feedback">
                            Du måste ange gilltig epost-adress
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <textarea type="textarea" class="form-control validation input-border button-off" rows="7" placeholder="Enter your questions & subject here." required></textarea>
                        <div class="invalid-feedback">
                            Du måste ange minst 2 bokstäver
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col btn-form">
                        <button type="submit" class="btn btn-primary submit">Book a Meeting Now</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

