<div id="intro">
    <div class="container container-padding">
        <div class="flex">
            <div class="column-center">
                <div id="intro-text" class="position-relative">
                    <span>Intro</span>
                    <img src="/images/line.svg" class="position-absolut">
                    <h1>How we growth our business.</h1>
                    <h5>The introduction of cloud and mobile technologies into enterprise software.</h5>
                    <p>hether you are building an enterprise web portal or a state-of-the-art website, you always need the right modern tools. Well-built and maintained .NET frameworks provide those tools in abundance, allowing maintained .NET frameworks provide those tools in abundance, allowing developers to save time, re-use code, and streamline the back end. As software development tools continuously.</p>
                    <button class="btn btn-main">Learn More</button>
                </div>
            </div>
            <div class="column-center">
                <img src="images/block.svg">
            </div>
        </div>
    </div>
</div>