<div id="services">
    <div class=" container container-padding">
        <div class="Services-content">
            <div class="card-deck">
                <div class="row">
                    <div class="col">
                        <div class="card position-relative">
                            <img class="card-img-top" src="" alt="">
                            <div class="card-body">
                                <h5 class="card-title">UI/UX Design</h5>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img class="card-img-top" src="" alt="">
                            <div class="card-body">
                                <h5 class="card-title">IT Consultancy</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img class="card-img-top" src="" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Technology Prof.</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row2">
                    <div class="col">

                        <div class="card">
                            <img class="card-img-top" src="" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Web Development</h5>
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <div class="card">
                            <img class="card-img-top" src="" alt="">
                            <div class="card-body">
                                <h5 class="card-title">App Development</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img class="card-img-top" src="" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Game Design</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
