@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-blue-gradient">
    <div class="container">
        <partial name="_Navbar" />
        <partial name="_showcasePartialView" />
    </div>
</div>
<partial name ="_aboutUsPartial"/>
<partial name ="_introPartial"/>
<partial name ="_formPartial"/>
